/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
/node_modules/

# rspec failure tracking
.rspec_status

# local build files
/jsBuild/
/dist/
/pkg/
/src/tormenta20.egg-info/

# generated database — run `rake build_db` to create
/db/tormenta20.sqlite3